{% extends 'superadmin/base.html' %}
{% block content %}
	<p>There is account list of  <i class="fs-5 text-success">{{ profile.user.username }}</i></p>
	<p class="text-muted">your current server ip is {{ profile.server.ir_ip }}</p>
	<form action="{% url 'superadmin:change_server' profile.id %}" method="post">
		{% csrf_token %}
		<div class="input-group">
		  <select class="form-select" name="server_shift" id="inputGroupSelect04" aria-label="Example select with button addon">
		    <option value="{{ profile.server.ir_ip }}" selected>{{ profile.server }} > <i class="text-muted">{{ profile.server.ir_ip }}</i></option>
		    {% for server in servers %}
		    	{% if server != profile.server %}
		    		<option value="{{ server.ir_ip }}">{{ server }} > <i class="text-end">{{ server.ir_ip }}</i></option>
		    	{% endif %}
		    {% endfor %}
		  </select>
		  <button class="btn btn-outline-secondary" type="submit">Change</button>
		</div>
	</form>
	<br>

	<div class="m-2">
		<i class="text-muted fs-6 float-start">Accounts count: {{ accounts_count }}</i>
		<i class="text-warning fs-6 float-end"><a href="" data-bs-toggle="modal" data-bs-target="#coinsModal" class="text-decoration-none text-warning"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-coin" viewBox="0 0 16 16">
  <path d="M5.5 9.511c.076.954.83 1.697 2.182 1.785V12h.6v-.709c1.4-.098 2.218-.846 2.218-1.932 0-.987-.626-1.496-1.745-1.76l-.473-.112V5.57c.6.068.982.396 1.074.85h1.052c-.076-.919-.864-1.638-2.126-1.716V4h-.6v.719c-1.195.117-2.01.836-2.01 1.853 0 .9.606 1.472 1.613 1.707l.397.098v2.034c-.615-.093-1.022-.43-1.114-.9H5.5zm2.177-2.166c-.59-.137-.91-.416-.91-.836 0-.47.345-.822.915-.925v1.76h-.005zm.692 1.193c.717.166 1.048.435 1.048.91 0 .542-.412.914-1.135.982V8.518l.087.02z"/>
  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
  <path d="M8 13.5a5.5 5.5 0 1 1 0-11 5.5 5.5 0 0 1 0 11zm0 .5A6 6 0 1 0 8 2a6 6 0 0 0 0 12z"/>
</svg> Coins: {{ profile.count }}</a></i>
	</div>
	<br>

	{% if accounts %}
		<ul class="list-group list-group-numbered">
			{% for account in accounts %}
				<li class="list-group-item">
					<a href="" data-bs-toggle="modal" data-bs-target="#exampleModal{{ account.id }}" class="text-decoration-none ">{{ account }}</a>
				<span class="float-end text-muted fw-light">{{ account.date_end|timeuntil }}</span>
				</li>
			{% endfor %}
		</ul>
		{% for account in accounts %}
			<!--modal-->
			<div class="modal fade" id="exampleModal{{ account.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog">
				    <div class="modal-content">
				    	<div class="modal-header">
					        <h1 class="modal-title float-center fs-5" id="exampleModalLabel"><h5 class="">{{ account }}</h5></h1>
					        <button type="button" class="btn-close float-end" data-bs-dismiss="modal" aria-label="Close"></button>
				    	</div>
				    	<div class="modal-body">
					        <div class="">

							    <p class=""><i class="text-muted fs-6">password: </i>{{ account.password }}</p>
							    <p class="text-muted">{{ account.server }} > {{ account.server.ir_ip }}</p>
							    <p class="float-start">{{ account.date_end|timeuntil }} left</p>

							</div>
				    	</div>
				    	<div class="modal-footer">
				    		<a class="btn btn-outline-success" href="{% url 'account:charge_account' account.id %}">Charge 1 month</a>
				    		<a class="btn btn-primary" href="{{ account.file.url }}">Download OVPN file</a>
								<a class="btn btn-primary" href="{% url 'account:send_profile' account.id %}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telegram" viewBox="0 0 16 16">
  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.287 5.906c-.778.324-2.334.994-4.666 2.01-.378.15-.577.298-.595.442-.03.243.275.339.69.47l.175.055c.408.133.958.288 1.243.294.26.006.549-.1.868-.32 2.179-1.471 3.304-2.214 3.374-2.23.05-.012.12-.026.166.016.047.041.042.12.037.141-.03.129-1.227 1.241-1.846 1.817-.193.18-.33.307-.358.336a8.154 8.154 0 0 1-.188.186c-.38.366-.664.64.015 1.088.327.216.589.393.85.571.284.194.568.387.936.629.093.06.183.125.27.187.331.236.63.448.997.414.214-.02.435-.22.547-.82.265-1.417.786-4.486.906-5.751a1.426 1.426 0 0 0-.013-.315.337.337 0 0 0-.114-.217.526.526 0 0 0-.31-.093c-.3.005-.763.166-2.984 1.09z"/>
</svg> Send</a>

				    	</div>
				    </div>
				</div>
			</div>
		{% endfor %}
	{% else %}
		<br>
		<div class="alert alert-secondary" role="alert">
		  You have not created an account yet
		</div>
	{% endif %}

	<!-- Coins Modal -->
	<div class="modal fade" id="coinsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h1 class="modal-title fs-5 text-warning" id="exampleModalLabel"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-coin" viewBox="0 0 16 16">
  <path d="M5.5 9.511c.076.954.83 1.697 2.182 1.785V12h.6v-.709c1.4-.098 2.218-.846 2.218-1.932 0-.987-.626-1.496-1.745-1.76l-.473-.112V5.57c.6.068.982.396 1.074.85h1.052c-.076-.919-.864-1.638-2.126-1.716V4h-.6v.719c-1.195.117-2.01.836-2.01 1.853 0 .9.606 1.472 1.613 1.707l.397.098v2.034c-.615-.093-1.022-.43-1.114-.9H5.5zm2.177-2.166c-.59-.137-.91-.416-.91-.836 0-.47.345-.822.915-.925v1.76h-.005zm.692 1.193c.717.166 1.048.435 1.048.91 0 .542-.412.914-1.135.982V8.518l.087.02z"/>
  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
  <path d="M8 13.5a5.5 5.5 0 1 1 0-11 5.5 5.5 0 0 1 0 11zm0 .5A6 6 0 1 0 8 2a6 6 0 0 0 0 12z"/>
</svg> Coins</h1>
	        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	      </div>
	      <div class="modal-body">
					<form action="{% url 'superadmin:charge_coin' profile.id %}" method="post">
						{% csrf_token %}
						<div class="input-group">
							<div class="form-floating">
								<input type="text" inputmode="numeric" class="form-control" name="charge_coin" id="floatingInputGroup1" placeholder="Chat id">
								<label for="floatingInputGroup1">New Coin value</label>
							</div>
						</div>
						<br>
						<div class="">
			        <button type="submit" class="btn btn-outline-primary">Save changes</button>
			      </div>
					</form>
	      </div>

	    </div>
	  </div>
	</div>

{% endblock %}
